@import "iconfont.scss";
$theme-main-color-1: #2e89c0;
$theme-main-color-2: #5dabdc;
$theme-main-color-3: #8fd0f0;
$theme-main-color-2t: #5dabdce8;
$theme-main-color-3t: #8fd0f0e8;

$bg-color-1: rgba(255, 255, 255, 0.5);
$bg-color-2: rgba(255, 255, 255, 0.7);

$text-gary-color-1: #626a77;
$text-gary-color-1t: #626a774d;
$text-gary-color-2: #8f9297;
$text-gary-color-3: #c8c9c4;

$color-stdblue-1: #2e89c0;
$color-stdblue-2: #5dabdc;
$color-stdblue-3: #8fd0f0;

$color-greengray-1: #161e21;
$color-greengray-2: #2c3c49;
$color-greengray-3: #607b84;
$color-greengray-4: #b2c5cb;

$mobile-width: 576px;
$pad-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
@font-face {
  font-family: "Raleway";
  src: url("@/assets/fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "MesloLGS NF";
  src: url("@/assets/fonts/MesloLGS NF Regular.ttf");
}
.handle-default-a {
  text-decoration: none;
  color: inherit;
}
.handle-el-link {
  color: inherit;
  font-size: inherit;
  vertical-align: baseline;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
    &:after {
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }
  }
}
:root {
  font-size: 16px;
  @media screen and (max-width: $pad-width) {
    font-size: 14px;
  }
  @media screen and (max-width: $mobile-width) {
    font-size: 12px;
  }
}
.mps-topimg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
  .mps-topimg-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 150px;
    @media screen and (max-width: $mobile-width) {
      width: 75%;
    }
    .bg {
      border-radius: 15px 15px 0 0;
      height: 60%;
      width: 100%;
    }
    .tx {
      border-radius: 0 0 15px 15px;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      font-family: "Raleway";
      font-weight: 600;
      white-space: nowrap;
    }
  }
}
.md-container {
  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    padding-bottom: 20px;
    margin: 0 auto;
    color: #333;
    line-height: 1.6;
    blockquote {
      border-left: 4px solid #dfe2e5;
      padding: 0 15px;
      margin: 0;
      color: #6a737d;
    }
    pre {
      background: #1e1e1e !important;
    }
    code {
      font-family: "MesloLGS NF";
    }
    :not(.hljs) code {
      background-color: #00000018;
      padding: 2px 5px;
      border-radius: 5px;
    }
    table {
      width: auto !important;
      max-width: 100% !important;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6 {
    //   margin: -50px 0 10px;
    //   padding: 65px 0 10px;
    // }
  }
  pre.hljs {
    padding: 18px 2px 12px 10px !important;
    border-radius: 5px !important;
    position: relative;
    line-height: 22px !important;
    overflow: hidden !important;
    code {
      display: block !important;
      margin: 0 10px !important;
      overflow-x: auto !important;
      &::-webkit-scrollbar {
        z-index: 11;
        width: 6px;
      }
      &::-webkit-scrollbar:horizontal {
        height: 6px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        width: 6px;
        background: #666;
      }
      &::-webkit-scrollbar-corner,
      &::-webkit-scrollbar-track {
        background: #1e1e1e;
      }
      &::-webkit-scrollbar-track-piece {
        background: #1e1e1e;
        width: 6px;
      }
    }
    .line-numbers-rows {
      position: absolute;
      pointer-events: none;
      top: 12px;
      bottom: 12px;
      left: 0;
      font-size: 100%;
      width: 40px;
      text-align: center;
      letter-spacing: -1px;
      border-right: 1px solid rgba(0, 0, 0, 0.66);
      user-select: none;
      counter-reset: linenumber;
      span {
        pointer-events: none;
        display: block;
        counter-increment: linenumber;
        &:before {
          content: counter(linenumber);
          color: #999;
          display: block;
          text-align: center;
        }
      }
    }
    b.name {
      position: absolute;
      top: 2px;
      right: 50px;
      z-index: 10;
      color: #999;
      pointer-events: none;
    }
  }
}
