@import "iconfont.scss";
@font-face {
  font-family: "Raleway";
  src: url("@/assets/fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "MesloLGS NF";
  src: url("@/assets/fonts/MesloLGS NF Regular.ttf");
}
.handle-default-a {
  text-decoration: none;
  color: inherit;
}
.handle-el-link {
  color: inherit;
  font-size: inherit;
  vertical-align: baseline;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
    &:after {
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }
  }
}
:root {
  font-size: 16px;
  @media screen and (max-width: $pad-width) {
    font-size: 14px;
  }
  @media screen and (max-width: $mobile-width) {
    font-size: 12px;
  }
}
@import "mps.scss";
