body {
  background-image: url("@/assets/img/90773916_p1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  z-index: -1;
}
body:before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  -webkit-background-size: cover !important;
  -o-background-size: cover;
  background-size: cover !important;
  background-position: center center;
}
.mps-topimg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
  .mps-topimg-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 150px;
    @media screen and (max-width: $mobile-width) {
      width: 75%;
    }
    .bg {
      border-radius: 15px 15px 0 0;
      height: 60%;
      width: 100%;
    }
    .tx {
      border-radius: 0 0 15px 15px;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      font-family: "Raleway";
      font-weight: 600;
      white-space: nowrap;
    }
  }
}
.mps-article-renderend {
  text-align: center;
  margin-top: 30px;
  font-size: 1rem;
  border-top: 1px dashed $text-gary-color-2;
  padding-top: 10px;
  color: $text-gary-color-2;
}
.mps-drawer {
  --el-drawer-bg-color: rgba(255, 255, 255, 0.8);
  .el-drawer__body > div {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .mps-drawer-tag-menu-container {
    ul {
      border-radius: 10px;
    }
  }
  .el-drawer__title {
    font-size: 20px;
    font-weight: bolder;
  }
  .markdown-toc {
    font-size: 16px;
    text-decoration: underline;
  }
}
