$theme-main-color-1: #2e89c0;
$theme-main-color-2: #5dabdc;
$theme-main-color-3: #8fd0f0;
$theme-main-color-2t: #5dabdce8;
$theme-main-color-3t: #8fd0f0e8;

$bg-color-1: rgba(255, 255, 255, 0.5);
$bg-color-2: rgba(255, 255, 255, 0.7);

$text-gary-color-1: #626a77;
$text-gary-color-1t: #626a774d;
$text-gary-color-2: #8f9297;
$text-gary-color-3: #c8c9c4;

$color-stdblue-1: #2e89c0;
$color-stdblue-2: #5dabdc;
$color-stdblue-3: #8fd0f0;

$color-greengray-1: #161e21;
$color-greengray-2: #2c3c49;
$color-greengray-3: #607b84;
$color-greengray-4: #b2c5cb;

$mobile-width: 576px;
$pad-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;